body {
    font: 20px Monaco, monospace;
    line-height: 1.8;
    color: black;
    padding-top: 5px;
    background-color: skyblue;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}
